#page-conatiner {
  position: relative;
  min-height: 100vh;
}
body {
  margin: 0;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    118deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(214, 214, 214) 100%
  );
}

.titleOfPage {
  width: 100%;
  color: transparent;
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
  /* position: absolute; */
  /* top: 50%; */

  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  /* margin: 0 auto; */

  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}
body {
  margin: 0px;
}

.navbar {
  display: flex;
  width: 100%;
  height: 150px;
}

.backgroundShadow {
  height: 150px;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.5;
}

.navTitle {
  position: relative;
  width: 50%;
  height: 150px;
  background-color: rgb(253, 253, 253);
  /* border-right: solid 1px rgb(204, 204, 204); */
  border-bottom: solid 1px black;
}

.titleText {
  width: 100%;
  color: transparent;
  margin: 0 auto;
  /* font-weight: -100; */
  font-size: 3em;
  text-align: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto auto;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.navKey {
  position: relative;
  width: 10%;
  height: 150px;
  background-color: rgb(253, 253, 253);
  border-left: solid 1px rgb(204, 204, 204);
  border-bottom: solid 1px black;
}

.navKeynonmove {
  position: relative;
  width: 10%;
  height: 150px;
  background-color: rgb(253, 253, 253);
  border-bottom: solid 1px black;
}

.hoverside {
  display: none;
  position: relative;
}

.clickside {
  display: none;
  position: relative;
}

.barside1 {
  position: absolute;
  top: 0;
  background-color: rgb(223, 223, 223);
}

.barside2 {
  position: absolute;
  top: 0;
  width: 3px;
  right: 0;
  height: 145px;
  background-color: rgb(223, 223, 223);
}

.barside3 {
  position: absolute;
  top: 0;
  background-color: rgb(223, 223, 223);
}

.barside4 {
  position: absolute;
  top: 0;
  width: 6px;
  right: 0;
  height: 140px;
  background-color: rgb(223, 223, 223);
}

.triangle1 {
  position: absolute;
  top: 145px;
  right: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 5px 0;
  border-color: transparent rgb(223, 223, 223) transparent transparent;
}

.triangle2 {
  position: absolute;
  width: 0;
  height: 0;
  right: 0px;
  top: 140px;
  border-style: solid;
  border-width: 0 6px 10px 0;
  border-color: transparent rgb(223, 223, 223) transparent transparent;
}

.hoverShadow {
  display: none;
  position: relative;
}

.clickShadow {
  display: none;
  position: relative;
}

.hoverShadow1 {
  position: absolute;
  top: 0;
  height: 10px;
  width: 100%;
  opacity: 0.5;
  background-color: black;
  z-index: 4;
}

.hoverShadow2 {
  background-color: black;
  position: absolute;
  top: 10px;
  left: 0;
  height: 140px;
  width: 10px;
  opacity: 0.5;
  z-index: 4;
}

.bottomShadow1 {
  top: 150px;
  left: -1px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 30px 0;
  border-color: transparent black transparent transparent;
  opacity: 0.5;
  z-index: -1;
}

.bottomShadow12 {
  top: 150px;
  left: calc(90% - 0.5px);
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 60px 0;
  border-color: transparent black transparent transparent;
  opacity: 0.5;
  z-index: -1;
}

.bottomShadow4 {
  top: 150px;
  left: 14px;
  position: absolute;
  width: calc(100% - 14px);
  height: 30px;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.bottomShadow5 {
  top: 150px;
  left: 100%;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 0 15px;
  border-color: transparent transparent transparent #000000;
  opacity: 0.5;
  z-index: -1;
}

.bottomShadow6 {
  top: 180px;
  left: 24px;
  position: absolute;
  width: calc(100% - 9px);
  height: 20px;
  background-color: black;
  opacity: 0.5;
}

.bottomShadow7 {
  top: 180px;
  left: calc(100% + 15px);
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 0 10px;
  border-color: transparent transparent transparent #000000;
  opacity: 0.5;
}

.bottomShadow8 {
  top: 200px;
  left: 29px;
  position: absolute;
  width: calc(100% - 4px);
  height: 10px;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.bottomShadow11 {
  top: 150px;
  left: 0px;
  position: absolute;
  width: calc(60% - 2.5px);
  height: 60px;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.bottomShadow13 {
  top: 150px;
  left: calc(90% + 29.5px);
  position: absolute;
  width: calc(10% - 29.5px);
  height: 60px;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.bottomshadowhider {
  top: 150px;
  position: absolute;
  width: 100%;
  height: 60px;
}

.bottomShadow9 {
  top: 200px;
  left: calc(100% + 25px);
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 0 5px;
  border-color: transparent transparent transparent #000000;
  opacity: 0.5;
  z-index: -1;
}

.bottomShadow10 {
  top: 150px;
  left: calc(60% - 2.5px);
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 0 0 30px;
  border-color: transparent transparent transparent #000000;
  opacity: 0.5;
  z-index: -1;
}

.bottomShadow2 {
  top: 200px;
  left: 24px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 0;
  border-color: transparent black transparent transparent;
  opacity: 0.5;
  z-index: -1;
}

.bottomShadow3 {
  top: 180px;
  left: 14px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px 0;
  border-color: transparent black transparent transparent;
  opacity: 0.5;
  z-index: -1;
}

.clickShadow1 {
  background-color: black;
  position: absolute;
  top: 0;
  height: 25px;
  width: 100%;
  opacity: 0.5;
  z-index: 4;
}

.clickShadow2 {
  background-color: black;
  position: absolute;
  top: 25px;
  left: 0;
  height: 125px;
  width: 25px;
  opacity: 0.5;
  z-index: 4;
}

#endkey {
  border-left: solid 1px rgb(204, 204, 204);
}

.demotext {
  width: 100%;
  color: transparent;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto auto;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 1120px) {
  .demotext {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    right: calc(50% - 0.5em);
  }
}
#size {
  width: 50%;
  height: 50%;
  margin-right: 10px;
  float: left;
  clear: both;
}
.headlinks {
  text-decoration: none;
  float: right;
  width: 12%;
  text-align: center;

  padding: 45px 10px 45px 10px;
  color: rgb(235, 233, 233);
  font-weight: bold;
  line-height: 20px;
  color: rgb(253, 253, 253);
  letter-spacing: 1px;
}
.headlinks:hover {
  color: white;
  background-color: grey;
}

#Name {
  float: left;
  width: 50%;
  margin-left: 20px;
  margin-top: 30px;
  font-family: "times";
  color: rgb(235, 233, 233);
}

.block {
  background-color: rgb(253, 253, 253);
  height: 100px;
}
.block2 {
  background-color: rgb(187, 187, 187);
  height: 100px;
  overflow: hidden;
}
#Name2 {
  width: 25%;
  float: left;
  margin: 0;
  margin-left: 10%;
  font-family: "times";
  text-align: center;
  height: 100px;
  background-color: rgb(253, 253, 253);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(235, 233, 233);
}
#flexboxdiv {
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* flex-wrap: wrap; */
}
.maincontainer3 {
  border-top: solid 2px rgb(204, 204, 204);
  border-bottom: solid 2px rgb(204, 204, 204);
  border-radius: 25px;
  border-right: solid 2px rgb(204, 204, 204);
  width: 95%;
  margin: 110px auto;
  /* max-width: 960px; */
  /* justify-content: space-between; */
  /* margin-left: 10%; */
  margin-top: 70px;
  margin-bottom: 10px;
  margin-bottom: 70px;
}
.pictureShadow {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 214px;
  width: 380px;
  background-color: #000000;
  opacity: 0.5;
  transition-duration: 0.5s;
  z-index: -1;
  border-radius: 3px;
}
p {
  line-height: 20px;
}

.footer2 {
  height: 70px;
  width: 100%;
  background-color: rgb(253, 253, 253);
  position: absolute;
  bottom: 0;
}
.footer {
  height: 70px;
  width: 100%;
  background-color: rgb(253, 253, 253);
}

.footerextra {
  background-color: grey;
  height: 5px;
  width: 100%;
  z-index: 20;
}

.name33 {
  width: 100%;
}
.name36 {
  width: 100%;
}

.heightbox {
  height: 200px;
}
.maincontainer2 {
  border: solid 1px black;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}
.footpadding {
  height: 70px;
  margin: 0;
}

.picture {
  position: relative;
  transition-duration: 0.5s;
  display: inline-block;
  width: 400px;
  height: 225px;
  /* float:left; */
  /* padding: 10px 25px; */
  /* justify-content: space-between; */
  margin: 30px;
}
.picturesize {
  transition-duration: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  height: 214px;
  width: 380px;
  border: solid 1px rgb(204, 204, 204);
  border-radius: 3px;
}
.hide {
  display: block;
  visibility: hidden;
}
.mimicdetails {
  position: relative;
}
.postionRelative {
  position: relative;
}
.fixStupidFlicker {
  display: none;
  position: absolute;
  left: 32px;
  top: 32px;
  height: 214px;
  width: 380px;
  z-index: 10;
  opacity: 1;
}

/* .picturesize:hover {
  height: 200px;
  width: 366px;
  border: solid 1px rgb(204, 204, 204);
  border-radius: 3px;
  transition-duration: 0.5s;
  transform: scale(366px, 200px);
} */
/* .picturesize.backgroundShadow:hover */
/* .endpic{
    clear: both;
    height: 250px;
    width:100%;
    display: flexbox;

} */

.picturePlaceholder {
  height: 200px;
  width: 366px;
  margin: 20px;
  float: left;
}
.siteTitle {
  margin-top: 20px;
  width: 100%;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  font-size: 2em;
}
.siteText {
  padding-right: 20px;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}
.details {
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0px;
  left: 0;
  overflow-y: hidden;
  overflow: hidden;
  max-height: 0;
  border: solid 1px rgb(204, 204, 204);
  width: 0px;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
  z-index: -1;
}
.details2 {
  position: relative;
  max-height: 0;
  overflow-y: hidden;
  overflow: hidden;
}
.Label {
  position: relative;
  background-color: rgb(253, 253, 253);
  bottom: 65px;
  padding: 15px;
  color: rgb(235, 233, 233);
  font-weight: bold;
  line-height: 20px;
}
.Labelwithsite {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 384px;
  display: flex;
  max-width: 382px;
  transition-duration: 0.5s;
}
.Label1 {
  float: left;
  padding: 15px;
  padding-left: 40px;
  background-color: rgb(253, 253, 253);
  font-weight: bold;
  color: rgb(235, 233, 233);
  line-height: 20px;
  width: 50%;
  letter-spacing: 1px;
  text-decoration: none;
}
.Label1:hover {
  background-color: rgb(121, 170, 172);
}
.Label2:hover {
  background-color: rgb(121, 170, 172);
}

.Label2 {
  text-align: right;
  padding: 15px;
  padding-right: 20px;
  background-color: rgb(253, 253, 253);
  font-weight: bold;
  color: rgb(235, 233, 233);
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  width: 50%;
}
.footer2 {
  height: 70px;
  width: 100%;
  background-color: rgb(253, 253, 253);
  position: absolute;
  bottom: 0;
}

.dropdown-content {
  display: none;
}
.dropbtn {
  display: none;
}
@media screen and (max-width: 680px) {
  .headlinks {
    display: none;
  }
  .dropbtn {
    display: block;
    background-color: rgb(253, 253, 253);
    color: white;
    padding: 10px;
    font-weight: bold;
    color: rgb(235, 233, 233);
    line-height: 20px;
    letter-spacing: 1px;
    border: none;
    width: 100%;
    text-align: center;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a:hover {
    background-color: rgb(121, 170, 172);
  }
}

@media screen and (min-width: 600px) {
  .name33 {
    width: 475px;
    text-align: left;
  }
  .name35 {
    text-align: left;
  }
  .name36 {
    width: 100% !important;
  }
}
@media screen and (min-width: 1200px) {
  .maincontainer2 {
    max-width: 960px;
    margin-left: 10%;
  }
}
